nav{
    background-color: #ffb81c;
    color:#003595;
    padding:20px;
}

a{
    color:#003595 
}

#map {
    height: 500px;  
    width: 100%;
    }

#map-title{
    color:#000033;
}    

form{
    color:#00adee;
}

html, body {
height: 95%;
margin: 0px;
padding: 0;
background-color:#e5e5cb;
}

footer{
    padding: 20px;
}