nav{
    background-color: #ffb81c;
    color:#003595;
}

#map {
    height: 500px;  
    width: 100%;
    }

#map-title{
    color:#3b3e42;
}    

#main-title{
    margin-left: 20px;
}

#login{
    margin-left: 20px;
}

#signup{
    margin-left: 20px;
}

#report-pothole{
    margin-left: 20px;
}

#update-pothole{
    margin-left: 20px;
}

#schedule-maintenance{
    margin-left: 20px;
}

#logout{
    margin-left: 20px;
}

form{
    color:#00adee;
}

html, body {
height: 80%;
margin: 30px;
padding: 0;
}

